@model IEnumerable<SmallCardViewModel>

<section class="carouselshowcase">
    <div class="container">
        <div class="title">
            <p>Top selling products in this week</p>
        </div>
        <div id="carouselExampleControls"
             class="carousel slide"
             data-bs-ride="carousel"
             data-interval="false"
             data-ride="true">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        @for(int i=0; i<6; i++)
                        {
                            <div class="col">
                                <partial name="~/Views/Shared/Partials/_SmallCardPartial.cshtml" model=Model.ElementAt(i)/>
                            </div>
                        }
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                         @for(int i=6; i<12; i++)
                        {
                            <div class="col">
                                <partial name="~/Views/Shared/Partials/_SmallCardPartial.cshtml" model=Model.ElementAt(i)/>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    <div class="carouselbtn">
        <button class="btn"
                data-bs-slide="prev"
                data-bs-target="#carouselExampleControls">
            <i class="fa-thin fa-square-chevron-left"></i>
        </button>
        <button class="btn"
                data-bs-slide="next"
                data-bs-target="#carouselExampleControls">
            <i class="fa-thin fa-square-chevron-right"></i>
        </button>
    </div>
</section>
