@model LargeCardViewModel

<div class="productmedium">
    <img src=@Model.ImageSrc alt=@Model.ImageAlt />
    <div class="productname">
        <p>@Model.Name</p>
    </div>
    <div class="productdescription">
        <p>@Model.Description</p>
    </div>
    <div class="grey">
        <p>POSTED BY: Admin</p>
        <p>COMMENTS @Model.NmbOfReviews</p>
    </div>
</div>