<section class="newsletter">
    <div class="newsletterbox container">
        <form>
            <div class="signup">
                <input class="text" placeholder="Enter your mail here" />
                <input class="submit"  value="SUBSCRIBE FOR NEWSLETTER" />
            </div>
        </form>
    </div>
</section>