<section class="showcase">
    <div class="container">
        <div class="content">
            <div>
                <p class="title-1">WELCOME TO BMARKETO SHOP</p>
                <p class="title-2">Exclusive Chair Gold Collection.</p>
                <button class="btn">SHOP NOW</button>
            </div>
        </div>
        <img src="~/images/pantonchair.png"/>
    </div>
</section>
